@{ Layout = "_Layout";
    ViewBag.Title = "Add Person";
}

<div class="modal fade" role="dialog" id="formModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Person</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-group">
                        <div class="row">
                            <label for="Name" class="col col-3">NIK:</label>
                            <input class="form-control col" name="NIK" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col col-3">First Name:</label>
                            <input class="form-control col" name="FirstName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col col-3">Last Name:</label>
                            <input class="form-control col" name="LastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col col-3">Phone:</label>
                            <input class="form-control col" name="Phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col col-3">Birth Date:</label>
                            <input class="form-control col" name="BirthDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col col-3">Salary:</label>
                            <input class="form-control col" name="Salary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col col-3">Email:</label>
                            <input class="form-control col" name="Email" />
                        </div>
                    </div>
                </form>
            </div>
            <input id="isUpdate" style="display: none">
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" type="submit" form="form">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->